{% extends 'base.html.twig' %}

{% block title %}404! Страница не найдена{% endblock %}

{% block body %}
	<div class="error_wrap">
		<div class="error_number">Ошибка 404!</div>
		<div class="error_message">
			Что то пошло не так...
			Такой страницы у нас нет =(
		</div>
	</div>
{% endblock %}