{% extends 'base.html.twig' %}

{% block body %}
	<div class="about_wrap">
		hello. this is about page
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias libero quibusdam beatae magni itaque deserunt, quos quas sunt a culpa quasi earum sapiente, vel nulla. Optio esse molestiae, nemo tempora.
		some changes
	</div>
{% endblock %}

{% block title %}О проекте{% endblock %}