{% extends 'base.html.twig' %}

{% block body %}
	<div class="feedback_wrap post">
		Дорогие друзья! Так как проект только начинает свою жизнь, милости прошу оставлять свои отзывы и, особенно, предложения по работе сайта, дизайну и всему, что придет Вам в голову! Будем вместе стараться сделать этот проект как можно более привлекательным и удобным!
	</div>
{% endblock %}

{% block title %}Отзывы{% endblock %}