{% extends 'base.html.twig' %}

{% block body %}
	<div class="feedback_wrap post">
		hello. this is feedback page
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias libero quibusdam beatae magni itaque deserunt, quos quas sunt a culpa quasi earum sapiente, vel nulla. Optio esse molestiae, nemo tempora.
	</div>
{% endblock %}

{% block title %}Отзывы{% endblock %}