{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="posts_wrap">
        
        {% for post in posts %}
            <div class="post"> 

                <div class="post_title">
                    <div class="title">
                        {{ post.title }}
                    </div>
                    <div class="updated">
                        {{ post.updated|date("d/m/Y") }}
                    </div>
                </div>

                <div class="post_body">
                    {{ post.body }}
                </div>
                
                {% if post.image%}
                    <img src={{'/images/'~post.image.md5name}} alt="" class="img-responsive">
                {% endif %}

            </div>
        {% endfor %}
    
    </div>    

{% endblock %}

{% block title %}Get Study{% endblock %}