{% extends 'base.html.twig' %}

{% block body %}
	<div class="universities_wrap">
		hello. this is universities page
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias libero quibusdam beatae magni itaque deserunt, quos quas sunt a culpa quasi earum sapiente, vel nulla. Optio esse molestiae, nemo tempora.
	</div>
{% endblock %}

{% block title %}Выбор университета{% endblock %}